{% extends 'base.html' %}


{% block content %}
{% load static %}



<div class="row" style="background: white; border: solid blue 10px">
    <div class="col-10 mx-auto col-md-4 my-2">
        <div class="product_title text_center">
            <h1 class="display-4" style="color: blue; font-style: oblique; font-weight: bolder;">Hot List Showdown</h1>
            <p class="lead">Grab Family and Friends for a fun and intense game of HLS!</p>
            <hr class="my-4">
            <p>Start Hot List Showdown</p>
            <a class="btn btn-primary btn-lg" href="{%  url 'creategame' %}" role="button">Create Game</a>
            <a class="btn btn-primary btn-lg" href="{%  url 'gamelist' %}" role="button">Join Game</a>
        </div>
    </div>
</div>
      
      
{% endblock %}